<app-header></app-header>
<div class="container d-flex flex-column justify-content-center">
  <div class="display-4 mt-2 mb-3 d-flex justify-content-center">
    Our Works!
  </div>
  <p>
    We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given
    situations where they had to come up
    with wacky and fun excuses. The person with the best excuse won the Best Excuse Badge and won Pizzeria's vouchers.
    Their enthusiastic response proved
    that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. Ever!
  </p>
  <p>
    Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist the softest, cheesiest,
    crunchiest, butteriest Domino's Fresh Pan
    Pizza. They have been leaving the stage in the middle of a performance and even finding excuses to be disqualified
    in a football match.
  </p>
  <p>We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given situations where they had
    to come up with wacky and fun
    excuses. The person with the best excuse won the Best Excuse Badge and won Domino's vouchers. Their enthusiastic
    response proved that Pizzeria's Fresh
    Pan Pizza is the Tastiest Pan Pizza. Ever!</p>
  <div class="d-flex mt-2 align-items-center">
    <img src="../../assets/ingridients.jpg" height="300" width="400">
    <div class="container al">
      <div class="display-6 mb-3">Ingredients</div>
      <p>We're ruthless about goodness. We have no qualms about tearing up a day-old
        lettuce leaf (straight from the farm), or steaming a baby (carrot). Cut. Cut. Chop.
        Chop. Steam. Steam. Stir Stir. While they're still young and fresh - that's our motto. It
        makes the kitchen a better place</p>
    </div>
  </div>
  <div class="d-flex mb-2 mt-1 align-items-center">
    <div class="contianer">
      <div class="display-6 mb-3">Our Chefs</div>
      <p>They make sauces sing and salads dance. They create magic with skill,
        knowledge, passion, and stirring spoons (among other things). They
        make goodness so good, it doesn't know what to do with itself. We do
        though. We send it to you.
      </p>
    </div>
    <iframe src="https://giphy.com/embed/nEY5fV7EIFC0KX2ukB" width="220" height="380" frameBorder="0"
      class="giphy-embed" allowFullScreen></iframe>
  </div>
  <div class="d-flex align-items-center mt-1  mb-4">
    <iframe src="https://giphy.com/embed/WmvD6eAzilvn4cvBjq" width="280" height="280" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <div class="display-6 mx-3">Takes 45 Minutes Only!!!</div>
  </div>
<app-footer></app-footer>
</div>
